#sidebar {
    width: 300px;
    padding: 0; 
  }
  
  .nav-link {
    color: #ffffff;
    padding: 15px;
    font-size: 1.1rem;
    transition: background-color 0.2s;
  }
  
  .nav-link.active {
    background-color: #007bff;
  }
  
  .nav-link:hover {
    background-color: #0056b3;
  }
  
  .nav-link i {
    margin-right: 10px;
  }
  .container-fluid.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .navbar + #sidebar {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  